@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
  margin: 0;
  overflow-x: hidden; }

p, a {
  font-family: 'Roboto Condensed', sans-serif; }

p {
  font-size: 1.75em;
  line-height: 2;
  letter-spacing: 2px; }

h1, h2, h3 {
  font-family: 'Cabin', sans-serif; }

h2, h3 {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2rem;
  height: 32px; }

h3 {
  font-size: 1.5rem;
  color: #127daf; }

img {
  object-fit: cover;
  width: 50%; }

.btn {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  text-decoration: none;
  border: 2px solid #127daf;
  padding: 1rem  2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.8s; }
  .btn:hover {
    background-color: #127daf; }

header {
  width: 100%;
  height: 100vh; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #56788e;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1; }
    header .navbar nav {
      display: flex;
      padding-left: 3em; }
      header .navbar nav .logo-wrap {
        width: 70px;
        height: 75px; }
        header .navbar nav .logo-wrap img {
          object-fit: none;
          width: auto; }
    header .navbar a {
      font-size: 1.25em;
      font-weight: 400;
      color: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      text-decoration: none;
      align-self: center; }
    header .navbar .contacts {
      padding-right: 3em; }
  header .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: url(/dist/asset/img/banner_1.jpg) bottom/cover;
    background-attachment: fixed; }
    header .wrap h1, header .wrap p.lead, header .wrap .cta {
      text-align: center; }
    header .wrap h1 {
      color: #fff;
      font-size: 5rem;
      letter-spacing: .2rem;
      text-shadow: 1px 1px #b4b4b9;
      margin: 0; }
    header .wrap p.lead {
      font-size: 2.5rem;
      color: #fff;
      text-shadow: 1px 1px #8b8b8b; }
    header .wrap .cta {
      margin-top: 1rem; }

section#a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 7em;
  -webkit-box-shadow: 0px -4px 4px #b4b4b9;
  -moz-box-shadow: 0px -4px 4px #b4b4b9;
  box-shadow: 0px -4px 4px #b4b4b9;
  margin-bottom: 7.5em; }
  section#a .title-wrap {
    display: flex;
    justify-content: space-between; }
    section#a .title-wrap .line {
      display: inline-block;
      width: calc(100% - 185px);
      background: #000;
      height: 2px;
      transform: translateY(16px); }
  section#a .image p {
    text-align: center;
    margin: 0; }
  section#a .text {
    padding: 0 calc(3em + 75px) 0 0; }

section#b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 7em; }
  section#b .title-wrap {
    display: flex;
    justify-content: space-between; }
    section#b .title-wrap .line {
      display: inline-block;
      width: calc(100% - 260px);
      background: #000;
      height: 2px;
      transform: translateY(16px); }
  section#b .image p {
    text-align: center;
    margin: 0; }
  section#b .text {
    padding: 0 0 0 calc(3em + 75px); }

section#c {
  margin: 0 5em; }
  section#c .wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    margin-bottom: 7em; }
    section#c .wrap div {
      margin: 2em; }
      section#c .wrap div img {
        width: 50%;
        margin: 0 auto 2em;
        display: block; }
      section#c .wrap div p.small {
        text-align: center; }

section#d {
  margin: 0 calc(3em + 75px) 7em; }
  section#d .title {
    margin-bottom: 3em;
    text-align: center; }
    section#d .title h2 {
      margin: auto .75em; }
    section#d .title .line {
      height: 2px;
      width: 33%;
      display: inline-block;
      background-color: #000;
      transform: translateY(-0.5rem); }
  section#d .wrap div {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    align-items: center; }
    section#d .wrap div img {
      width: 100%; }
    section#d .wrap div h3 {
      text-align: center; }
    section#d .wrap div p {
      width: 100%;
      max-width: 700px; }

section#e {
  margin: 0 5em; }
  section#e .wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    padding: 4em 2em; }
    section#e .wrap div {
      text-align: center; }
  section#e .quote {
    color: #496577;
    font-size: 2.25em;
    font-weight: 100;
    font-style: italic;
    text-align: center; }

.bg-green {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #56788e;
  margin-bottom: 7em;
  color: #fff;
  text-align: center; }
  .bg-green .btn {
    display: inline-block;
    background-color: #fff;
    color: #127daf; }
    .bg-green .btn:hover {
      color: #fff;
      background-color: #496577; }
  .bg-green.second {
    justify-content: space-between; }
    .bg-green.second h3 {
      color: #fff;
      padding: calc(3em + 75px); }
    .bg-green.second p {
      width: 70%; }

footer {
  margin: 7em 0 0 0;
  height: 100px;
  background-color: #56788e;
  color: #fff;
  text-align: center; }

@media screen and (max-width: 1200px) {
  section#a, section#b,
  section#c, section#d, section#e {
    display: block; }
    section#a .wrap, section#b .wrap,
    section#c .wrap, section#d .wrap, section#e .wrap {
      display: block; } }
